a{
	text-decoration: none;
	color: black;
}
/* Configuração de fonte, imagem de fundo e seu tamanho*/ 
body{
	font-family: 'Roboto', sans-serif;
	background: url("fundo.jpg");
	background-size: 100%;
}

ul{
	list-style: none;
}
/* Larguras e bordas das imagens*/
img{
	width: 40px;
	padding: 20px;
}

input[type="checkbox"]
{
	display: none;
}
/*Configurações de cor de fundo, trnslações e posição do nav*/
nav
{
	background-color: rgba(16,16,16,.5);
	width: 350px;
	height: 100%;
	left: -350px;
	position: absolute;
	transition: all .5s;
}

input[type="checkbox"]:checked ~ nav
{
	transform: translateX(350px);
}
/*estilização do menu lateral nas seguintes elementos*/
ul{
	top: 70px;
	position: absolute;
	width: 100%;

}

a{
	display: block;
	padding: 20px 5px;
	color: white;

}

a:hover{
	background-color: rgb(176,224,230);
	color: black;
}

label{
	padding: 1px;
	position: absolute;
	z-index: 1;
}
/*estilização de todo o corpo*/
body {
	margin: 0;
	padding: 0;
	-webkit-background-size: cover;
	background-size: cover;
}
/* estilização do formulário*/
.Menu {
	width: 530px;
	height: 530px;
	color: #000;
	top: 50%;
	left: 50%;
	padding: 50px 30px;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	box-shadow: 8px 8px 50px #000;
}

.Menu input {
	width: 100%;
	margin-bottom: 11px;
}

h3 {
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-size: 25px;
	color: #000;
	text-align: center;
	margin-bottom: 2%;
	font-family: Courgette;
}



