/*estilização de margem, preenchimento e fonte*/
*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}
/* configuração de cor, fonte, posição, preenchimento,
 cor de fundo, cursor,disply,alinhamento e transição nas segintes tags e class*/
.vida{
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(./img/fundo.jpg);
	background-position: center;
	background-size: cover;
	padding-right: 8%;
	padding-left: 8%;
	box-sizing: border-box;
}
.nav{
	display: flex;
	height: 88%;
	align-items: center;
}
.closet{
	flex-basis: 50%;

}
h1{
	color: #fff;
	font-size: 100px;
}
p{
	color: #fff;
	font-size: 13px;
	line-height: 17px;
	text-align: justify;
}
button{
	width: 180px;
	color: #000;
	font-size: 12px;
	padding: 12px 0;
	background: #fff;
	border: 0;
	border-radius: 20px;
	outline: none;
	margin-top: 30px;
}
.cell{
	width: 200px;
	height: 230px;
	display: inline-block;
	border-radius: 10px;
	padding: 15px 25px;
	box-sizing: border-box;
	cursor: pointer;
	margin: 10px 15px;
	background-position: center;
	background-size: cover;	
	transition: transform 0.5s;
}
.cell1{
	background-image: url(./img/verão.jpg);
}
.cell2{
	background-image: url(./img/festa.jpg);
}

.cell3{
	background-image: url(./img/conjunto.jpg);
}

.cell4{
	background-image: url(./img/inverno.jpeg);
}
.cell:hover{
	transform: translateY(-10px);
}
h5{
	color: #fff;
	text-shadow: 0 0 5px #999;
	font-size: 16px;
}
p{
	color: #fff;
	text-shadow: 0 0 15px #000;
	font-size: 12px;
	text-align: justify;
}





