body {
width: 100%;
height: 100%;
margin: 0 auto;
}

ul{
    padding: 0px!important;
}

.div {
background-color: #ffffff;
width: 980px;
margin: 0 auto;
padding: 16px;
}

.m{
height: 75px;
border-bottom: 3px solid #efefef;
}

.menu ul li {
    display: inline-block;
    color: #8b8b8b;
    margin-left: 100px;
    height: 50px;
}

.menu ul li:hover {
    border-bottom: 3px solid black;
}

.menu ul li a:hover {
    color: black;
    
}

.menu ul li a {
    color: #8b8b8b;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
}

.menu {
width: 50%;
float: left;
}
.busca {
    text-align: center;
    width: 30%;
    float: right;
}
.busca input {
    background-image: url(./img/icone.png);
    background-repeat: no-repeat;
    height: 30px;
    padding: 12px;
    width: 190px;
    margin-top: 10px;
    background-position: 96%;
    border: 1px solid #d6d6d6;
}

button.slick-prev{
    font-size: 0px;
    border: none;
    width: 25px;
    height: 51px;
    z-index: 9;
    background-color: transparent;
    position: absolute;
    background-image: url(./img/anterior.png);
    top: 55%;
    left: 14%;
}
button.slick-next{
    font-size: 0px;
    border: none;
    width: 25px;
    height: 51px;
    z-index: 9;
    background-color: transparent;
    position: absolute;
    background-image: url(./img/proximo.png);
    top: 55%;
    right: 14%;
}

.div3{
    width: 100%!important;
}

.slick-list {
    width: 100%!important;
}
.slick-initialized {
    overflow: hidden;
}

.slick-dots li button {
    font-size: 0px;
    border: 5px solid #ffffff;
    width: 26px;
    height: 26px;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;

}
.slick-dots {
    margin: 0 auto;
    width: 45%;
    position: absolute;
    left: 42%;
    top: 500px;
}

li.slick-active button {
    background: black;
}

.slick-dots li {
    padding-left: 35px;
    display: inline-block;
}

.arrival-heading strong{
    font-size: 1.2rem;
    letter-spacing: 1px;
    color: black;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 40px;
    padding: 5px 30px;
    border: 1px solid #e0e0e0;
}

.arrival-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.arrival-heading strong{
    color: #ffffff;
    background-color: #202020;
    font-weight: 500;
    text-transform: uppercase;
}

.arrival-heading p{
    color: #696464;
    margin: 10px;
    font-size: 0.9rem;
    text-transform: uppercase;
}

.product-container{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.product-box{
    display: flex;
    flex-grow: 0.5;
    flex-direction: column;
    align-items: center;
    border: 1px solid #f7f7f7;
    border-radius: 10px;
    margin: 20px;
}

.product-img{
    width:200px;
    height: 210px;
    margin: 20px;
    cursor: pointer;
    position: relative;
}

.product-img img{
    width:100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.product-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    padding: 10px 20px;
    border-top: 1px solid #f3f3f3;
}

.p-name{
    color: #696464;
}

.p-price{
    color: black;
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: uppercase;
}

.product-box:hover{
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
}

.add-cart{
    position: absolute;
    right: -20px;
    top: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #0b9d8a;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    display: none;
    animation: fade 0.3s;
}

.product-img a img{
    max-width: 30px;
}

.add-cart:hover{
    background-color: #f76b6a;
    transition: all ease 0.2s;
}

.product-box:hover .add-cart{
    display: flex;
}

.new-arrival{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
